/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  position: relative;
}

.container {
  max-width: 1000px;
}

a {
  text-decoration: none;
}

.section-header {
  background-color: #fff;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.section-header.in-view{
  animation: zoom 0.5s linear;
}

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(0.1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-0.1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* -------------------- HEADER -------------------- */
#header {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  transition: background-color 0.2s ease;
}

#header.scrolled {
  background-color: rgb(33, 37, 41);
  transition: background-color 0.2s ease;
}

#header .nav-options {
  display: none;
}

@media (min-width: 768px) {
  #header .nav-options {
    display: block;
  }
}

#header .nav-options .nav-option {
  padding: 5px 100px;
  color: #999;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  transition: all 0.2s ease-in;
}

#header .nav-options .nav-option-two {
  padding: 5px 120px;
}

#header .nav-options .nav-option:hover {
  color: #222;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  transition: all 0.2s ease-in;
}

#header .nav-options .nav-option.active {
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#header .custom-dropdown {
  position: relative;
}

#header .selected-option {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

#header .flag {
  height: 30px;
  width: 45px;
}

#header .dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  border-radius: 4px;
  overflow: hidden;
}

#header .custom-dropdown.active .dropdown-options {
  display: block;
}

#header .option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

#header .option:hover {
  opacity: 0.5;
}

#header .mobile-nav-options {
  display: block;
}

@media (min-width: 768px) {
  #header .mobile-nav-options {
    display: none;
  }
}

.navigation .navigation-checkbox {
  display: none;
}

.navigation .navigation-button {
  position: fixed;
  top: 5px;
  right: 30px;
  width: 50px;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation .navigation-background {
  opacity: 0;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-image: radial-gradient(#0f0f0f, #fff);
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation .navigation-checkbox:checked ~ .navigation-background {
  opacity: 1;
  transform: scale(80);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation .navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation .navigation-nav .navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation .navigation-nav .navigation-list .navigation-item .navigation-link,
.navigation
  .navigation-nav
  .navigation-list
  .navigation-item
  .navigation-link:link,
.navigation
  .navigation-nav
  .navigation-list
  .navigation-item
  .navigation-link:visited {
  display: inline-block;
  padding: 0 15px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 240%;
  transition: all 0.4s;
}

.navigation
  .navigation-nav
  .navigation-list
  .navigation-item
  .navigation-link.active,
.navigation
  .navigation-nav
  .navigation-list
  .navigation-item
  .navigation-link:hover,
.navigation
  .navigation-nav
  .navigation-list
  .navigation-item
  .navigation-link:active {
  background-position: 100%;
  color: #000;
  transform: translateX(2px);
}

.navigation .navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}

.navigation .navigation-button .navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation .navigation-button .navigation-icon,
.navigation .navigation-button .navigation-icon::before,
.navigation .navigation-button .navigation-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #777;
  display: inline-block;
}

.navigation .navigation-button .navigation-icon::before,
.navigation .navigation-button .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation .navigation-button .navigation-icon::before {
  top: -0.8rem;
}

.navigation .navigation-button .navigation-icon::after {
  top: 0.8rem;
}

.navigation .navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation .navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation .navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.navigation
  .navigation-checkbox:checked
  + .navigation-button
  .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation
  .navigation-checkbox:checked
  + .navigation-button
  .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* -------------------- CALL FEATURE -------------------- */
.call-feature a{
  position: fixed;
  right: 30px;
  bottom: 50px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 50%;
  z-index: 1;
}

@media (min-width: 768px) {
  .call-feature {
    display: none;
  }
}

/* -------------------- BACK TO TOP FEATURE -------------------- */
.back-to-top-feature svg {
  position: fixed;
  right: 30px;
  bottom: 250px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.back-to-top-feature.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .back-to-top-feature {
    display: none;
  }
}

/* -------------------- MAIN -------------------- */
/* -------------------- HOME PAGE -------------------- */
/* HERO */
.hero {
  position: relative;
  overflow: hidden;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.hero-header,
.hero-options {
  position: relative;
  z-index: 1;
}

.hero .hero-header h2 {
  font-family: "Lobster", sans-serif;
  font-size: 45px;
}

.hero .hero-header .header-label-one {
  margin-bottom: 75px;
}

.hero .hero-options {
  min-width: 500px;
}

.hero .hero-options a {
  font-size: 14px;
  padding: 10px 30px;
  background-color: #222;
  color: #fff;
  border: 1px solid #111;
  transition: all 0.2s ease-in;
}

.hero .hero-options a.hero-nav-link {
  padding-left: 45px;
  padding-right: 45px;
}

.hero .hero-options a:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.2s ease-in;
}

/* DESCRIPTION */
.description h2 {
  font-family: "Lobster", sans-serif;
  font-size: 48px;
}

.description h6 {
  font-size: 24px;
}

.description h6.in-view{
  animation: moveInLeft 0.8s ease;
}

.description p {
  font-size: 18px;
}

.description p.in-view{
  animation: moveInLeft 1s ease;
}

.description .carousel-div.in-view{
  animation: moveInRight 1s ease;
}

/* LOCATION */
.location p{
  font-size: 18px;
}

.location p:first-child.in-view {
  animation: moveInLeft 0.8s ease;
}

.location p:nth-child(1).in-view {
  animation: moveInLeft 0.9s ease;
}

.location p:nth-child(2).in-view {
  animation: moveInLeft 1s ease;
}

.location p:last-child.in-view {
  animation: moveInLeft 1.1s ease;
}

/* RESERVATIONS */
.reservations {
  padding: 0px 0px 100px 0px;
}

.reservations .section-header {
  margin-bottom: 75px;
}

.reservations .reservation-option h2 {
  font-size: 58px;
  margin-bottom: 40px;
}

.reservations .reservation-option h2.in-view{
  animation: moveInLeft 0.8s ease;
}

.reservations .reservation-option p {
  margin-bottom: 75px;
}

.reservations .reservation-option p.in-view{
  animation: moveInRight 0.9s ease;
}

.reservations .reservation-option .phone-num {
  background-color: #fff;
  color: #000;
  transition: all 0.2s ease-in;
}

.reservations .reservation-option .phone-num:hover {
  background-color: #444;
  color: #fff;
  transition: all 0.2s ease-in;
}

/* -------------------- MENU PAGE -------------------- */
.menu-page{
  background-color: #000;
  padding: 200px 0 30px;
}

.menu-page h2{
  font-size: 58px;
  text-decoration: underline;
}

/* SELECT OPTION */
.select-feature select{
  width: 250px;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 7px;
  border: none;
  border-bottom: 1px #333 solid;
}

.select-feature select:focus{
  background-color: rgb(31, 31, 31);
}

/* MENU ITEMS */
.menu-items-list .category .category-title{
  font-size: 36px;
}

.menu-items-list .category .menu-item .row .col-12 svg g path{
  fill: #fff;
}

/* -------------------- ERROR PAGE & 404 PAGE -------------------- */
.error-page,
.not-found-page{
  height: 70vh;
}

/* -------------------- FOOTER -------------------- */
#footer h3.in-view{
  animation: moveInLeft 0.9s ease;
}

#footer p:nth-child(1).in-view {
  animation: moveInLeft 1s ease;
}

#footer p:nth-child(2).in-view {
  animation: moveInLeft 1.1s ease;
}

#footer p:nth-child(3).in-view {
  animation: moveInLeft 1.2s ease;
}

/* #footer p.in-view{
  animation: moveInLeft 10s ease;
} */

#footer a.email-address{
  display: inline-block;
}

#footer a.email-address.in-view{
  animation: moveInLeft 1.3s ease;
}

#footer .application-rights.in-view{
  animation: moveInLeft 1.4s ease;
}

#footer a img.social-link-logo.in-view{
  animation: zoom 0.5s linear;
}